.blade {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 0px;
    margin-left: -4px;

    background-color: white;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    border-left: 0px;
    border-right: 1px solid #FF6900;

    transition-property: width;
    transition-duration: 300ms;

    overflow-x: hidden;
}

.blade.first {
    border-left: 20px solid #101010;
}

.blade.opened {
    /*width: 500px;*/
}

.blade-header {
    background-color: #101010;
    padding: 20px 10px 4px 10px;
    border-bottom: 1px solid white;
    color: white;

    font-size: small;
    vertical-align: top;
}

.blade-header label {
    display: inline;
    font-size: x-small;
    text-transform: uppercase;
    margin-left: 4px;
}

.blade-commands {
    border-bottom: 1px solid #222222;
    color: #FF6900;
    background-color: #101010;
    padding: 8px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.blade-commands li {
    list-style-type: none;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;

    padding: 4px;
    height: 60px;
    width: 80px;

    border: 1px solid transparent;

    text-align: center;
    font-size: x-large;
}

.blade-commands li:disabled {
    cursor: default;
    border-color: #808080;
}

.blade-commands li:hover {
    border-color: #FF6900;
}

.blade-commands-text {
    text-align: center;
    font-size: x-small;
    cursor: inherit;
    text-transform: uppercase;
}

.blade-content {
    background-color: white;
    color: black;
    padding: 16px 16px 16px 16px;
}

.blade-content label {
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase;
}

.blade-content input {
    font-size: small;
    margin-bottom: 8px;
    margin-top: 2px;
}

.blade-closebtn {
    position: relative;
    float: right;
    right: -4px;
    top: -14px;
    color: #FF8922;
}

.blade-closebtn:hover {
    color: #FF6900;
    cursor: pointer;
}

.fa-times-thin:before {
    content: '\00d7';
}

.blade-content input[type="text"] {
    width: 200px;
}

.blade-content input[type="button"] {
    display: inline;
}

.buttonArrowList {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: -16px;
    margin-right: -16px;
}

.buttonArrowListItem {
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 16px;
    cursor: pointer;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.buttonArrowListItem:hover {
    background-color: #FF8922;
}

.buttonArrowListItem:active {
    background-color: #FF6900;
}

.buttonArrowListItemSelected {
    background-color: #FF6900;
}

.buttonArrowListItemContent {
    display: table-cell;
    vertical-align: middle;
}
.buttonArrowListItem p {
    font-size: small;
    cursor: pointer;
}
.buttonArrowListItem label {
    cursor: pointer;
}

.buttonArrowListItem.buttonArrowListItemIcon {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.buttonMatList {
    margin-top: 32px;
    margin-bottom: 32px;
}

.buttonMat {
    margin: 8px;
    padding: 8px 8px 8px 8px;

    display: block;
    white-space: normal;

    color: white;
    border: 1px solid black;
    background-color: #2A2A2B;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
}

.buttonMat:hover {
    background-color: #3A3A3B;
    cursor: pointer;
}

.buttonMat label:hover {
    cursor: pointer;
}

.buttonMat:active {
    background-color: #101010;
}

.buttonMatSelected {
    background-color: #101010;
    border: 1px solid #FF6900;
}

.buttonMatIcon {
    margin:0;
}

.buttonMatText {
    margin: 8px 24px 24px 24px;
}

.bladeGroup {
    margin-top: 16px;
}

.translsationsSet {
    margin: 0 16px 16px 16px;
}

.blade-spinner {
    position: relative;
    float: right;
    top: 98px;
    right: 4px;
    color: #FF6900;
}
