#blade-booking_description input[type="text"] {
    width: 300px;
}

#blade-booking_description textarea {
    width: 300px;
    height: 160px;
}

#blade-booking_description #bookingDescription_searchText {
    width: 200px;
}

#blade-booking_description #bookingDescription_casting {
    height: 50px;
}

#blade-booking_description #bookingDescription_duration {
    display: inline;
    width: 50px;
}
#blade-booking_description #bookingDescription_minutes {
    margin-left: 4px;
    font-size: small;
}

#blade-booking_description #bookingDescriptionResults_combo {
    width: 300px;
    max-width: 300px;
}



