
.splash {
    background-color: #000000;
    opacity: 0.9;
    z-index: 1000;
}

.fullScreen {
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
}

.noScroll {
    overflow: hidden;
}

.notSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.centered {
    text-align: center;
}

.inline {
    display: inline-block;
}

.home {
    background-color: #F5F5F5;
}

.table {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
}

.squareBox {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
}

.squareBox h1 {
    font-size: 16px;
}

.squareBox label {
    display: inline;
    font-size: 14px;
}

.squareBox input {
    display: inline;
}



