/* orange: #FF6900
*/
html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    color: black;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

label, input {
    display: block;
    text-align: left;
}

input[disabled] {
    background-color: #101010;
    color: #555555;
    border: 1px solid #555555;
}



