.gridList {
    background-color: transparent;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    font-size: x-small;
    cursor: pointer;
    box-sizing: border-box;
    table-layout: auto;
}

.gridList td {
    padding: 4px 8px 4px 8px;
}

.gridList thead tr {
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    border-color: black;
}

.gridList tbody tr td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gridList tbody tr:hover {
    background-color: #FF8922;
}

table.gridList tbody tr.gridList-row-selected {
    /* This selector has more specificity than ".gridList tbody tr:hover "*/
    background-color: #FF6900;
}

.gridList tbody tr:first-of-type td {
    border-top-width: 1px;
    border-top-style: solid;
}

.columnVisible {
    border-left-width: 1px;
    border-left-style: solid;
    padding-left:7px;
}

.emptyGrid {
    font-size: small;
    text-align: center;
    margin: 20px;
}



