
header #logo {
    float: left;
    margin: 2px 2px 2px 6px;
}

header label {
    display: inline;

    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin-bottom: 20px;
    margin-left: 10px;

    text-align: center;
    color: white;
}

header #userHub {
    position: absolute;
    display: inline-block;

    right: 0;
    min-width: 150px;
    line-height: 12px;

    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 20px;

    text-align: center;
    font-size: x-small;
}

header #userHub #menuHeader {
    padding: 4px;
}

header #userHub:hover {
    cursor: pointer;
    margin-right: 19px;
    margin-top: 3px;
    border: solid 1px #FFFFFF;

    background-color: #2A2A2B;
    color: white;
}

header #userHub:active {
    cursor: pointer;
    margin-top: 4px;
    border: solid 1px #FFFFFF;
}

header #userHub ul {
    display: none;
    visibility: hidden;
    opacity: 0;
    background-color: #2A2A2B;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header #userHub li {
    margin: 0;
    padding: 4px;
    list-style-type: none;
    border-top: 1px solid #FFFFFF;
}

header #userHub li:hover {
    background-color: #3A3A3B;
}

header #userHub li:first-child {
    margin-top: 2px;
}

header #userHub.opened > ul {
    visibility: visible;
    display: block;
    opacity: 100;
}

header #userHub li i {
    margin-right: 8px;
}