#mainMenu ul {
    margin-top: 40px;
    padding: 20px 10px;
    list-style: none;
}

#mainMenu li {
    display: block;
    width: 80px;
    height: 60px;
    padding-top: 12px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
#mainMenu li i{
    font-size: xx-large;
}

#mainMenu li:hover {
    background-color: #3A3A3B;
}

#mainMenu li:active {
    background-color: #101010;
}

.mainMenuItemSelected {
    background-color: #101010;
}

#mainMenu li label {
    display: block;
    text-align: center;

    margin: 8px 2px 12px 2px;
    font-size: x-small;
    font-weight: normal;
    cursor: inherit;
}

