
#blade-content-scheduling .dateNavigator {
    margin-bottom: 16px;
}

.scheduleDayView {
    background-color: transparent;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;

    font-size: x-small;
    box-sizing: border-box;
    table-layout: fixed;
}

.scheduleDayView td {
    border: 0px;
}

.scheduleDayView thead tr {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.scheduleDayView thead td {
    padding: 8px 8px 8px 8px;
    background-color: #2A2A2B;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.scheduleDayView tbody td {

    vertical-align: top;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
}

.scheduleDayView-block {
    padding: 8px;
}

.scheduleDayView-block:hover {
    background-color: #FF8922;
    cursor: pointer;
}

.scheduleDayView-schedule-selected {
    background-color: #FF6900;
}

.scheduleDayView tbody td:empty {
    cursor: inherit;
    background: inherit;
}

.scheduleDayView tbody td label {
    cursor: inherit;
}

.scheduleDayView tbody td p {
    white-space: pre-wrap;
}

.scheduleForm select {
    width: 240px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.scheduleForm input[type="checkbox"] {
    width: auto;
    margin: 0px;
}

.scheduleForm .scheduleForm_repetitionGroup {
    margin-top: 16px;
    margin-bottom: 4px;
}

.scheduleForm .scheduleForm_inRepeat {
    margin-left: 16px;
}

.scheduleForm .scheduleForm_repetitionGroup input,
.scheduleForm .scheduleForm_repetitionGroup label {
    vertical-align: bottom;
}



.scheduleForm .scheduleForm_inRepeat input,
.scheduleForm .scheduleForm_inRepeat label,
.scheduleForm .scheduleForm_inRepeat select {
    vertical-align: bottom;
    width: 220px;
}



