.entrance {
    text-align: center;
    padding-top: 50px;
}

.entrance h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    color: #FF6900;
    white-space: nowrap;
}

.entrance-header {
    display: table;
    margin: auto;
}

.entrance-header span {
    vertical-align: middle;
    display: table-cell;
}

.entrance-header img {
    margin-right: 20px;
}

.entrance-header h1 {
    margin: 0px 0px -10px 0px;
}

.loginBox {
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 10px 20px 10px 20px;
    background-color: #FF6900;
    color: white;
    display: inline-block;
}

.loginBox h1 {
    display: block;
    font-size: x-large;
    color: white;
}

.loginBox .link {
    text-align: right;
}

.loginBox label {
    font-size: small;
    margin-bottom: 4px;
}

.loginBox input {
    width: 500px;
    margin-bottom: 20px;
    font-size: small;
    padding: 5px;

    border: 1px solid #FF6900;
    background-color: #202020;
    color: #FF6900;
}


.loginBox button {
    display: inline;
    width: 120px;
    font-size: 20px;
    margin: 10px 0 50px 0;

    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.loginBox button:hover {
    background-color: #101010;
    cursor: pointer;
}

.link {
    cursor: hand;
    opacity: 0.3;
    color: whitesmoke;
    transition: all 0.3s ease;
}

.link:hover {
    cursor: pointer;
    opacity: 0.8;
    color: white;
}