header {
    position: fixed;
    z-index: 1;
    box-sizing: border-box;

    top: 0;
    height: 25px;
    width: 100%;

    background-color: #FF6900;
    border-bottom: 0px solid #EFEFEF;
    padding: 0;
}

#mainMenu {
    position: fixed;
    box-sizing: border-box;

    left: 0px;
    top: 25px;
    bottom: 5px;
    width: 80px;

    z-index: 1;

    background-color: #2A2A2B;
    color: white;

    text-align: left;
    padding-top: 20px;
}

main {
    position: fixed;
    box-sizing: border-box;

    left: 80px;
    right: 0px;
    top: 25px;
    bottom: 5px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    margin: 0 0 0 0;
    padding: 0;

    text-align: left;
}

.main-loggedIn {
    padding-left:80px;
}


.copyright {
    position: fixed;
    bottom: 10px;
    left: 4px;
    z-index: 2;
    font-size: x-small;
    font-weight: normal;
    color: white;
    cursor: default;
}

footer {
    position: fixed;
    bottom: 0;
    height: 5px;
    width: 100%;

    background-color: #FF6900;
}







