.message {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    z-index: 10;

    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    transition: all 0.2s ease-in-out 0s;

    border: 1px solid white;
    box-shadow: 2px 2px 5px #000;
}

.message-error {
    background: none repeat scroll 0% 0% #FF0000;
}

.message-info {
    background: none repeat scroll 0% 0% blue;
}
.message-success {
    background: none repeat scroll 0% 0% green;
}
.message strong {
    display: block;
}

.message .icon-close {
    border: 0px none;
    color: #FFF;
    position: absolute;
    right: 0.625em;
    top: 0.3125em;
}



