#web-container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    overflow: hidden;

    background-color: yellow;
}
#web-header {
    position: fixed;
    box-sizing: border-box;

    top: 0;
    height: 40px;
    width: 100%;

    background-color: green;
    border: 1px solid #000000;
}
#web-menu {
    position: fixed;
    box-sizing: border-box;

    left: 20px;
    top: 40px;
    bottom: 30px;
    width: 120px;

    background-color: orange;
    border: 1px solid blueviolet;
}

#web-content {
    position: fixed;
    box-sizing: border-box;

    left: 140px;
    right: 0px;
    top: 40px;
    bottom: 30px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    background-color: purple;
    border: 1px solid red ;
}

.blade2 {
    box-sizing: border-box;

    height: 100%;
    width: 500px;

    display: inline-block;

    background-color: mistyrose;
    border: 5px solid green;
}

#web-footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;

    background-color: red;
    border-top: 1px solid #EFEFEF;
}


