<section class="blade" id="blade-{{name}}">
    <i class="fa fa-spinner fa-spin blade-spinner hidden"></i>
   <div class="blade-header">
       <i class="fa fa-times blade-closebtn"></i>
       <i class="fa fa-{{icon}}"></i>
       <label class="blade-header-text">{{title}}</label>
   </div>
   <ul class="blade-commands">
       {{#each commands}}
           <li id="blade-{{../name}}-commands-{{this.name}}" data-command-name="{{this.name}}">
               <i class="fa fa-{{this.icon}}"></i>
               <label class="blade-commands-text">{{this.text}}</label>
           </li>
       {{/each}}
   </ul>

   <div class="blade-content" id="blade-content-{{name}}">

   </div>

</section>


