<select id="bookingDescriptionResults_combo" style="max-width: 300px">
    {{#each this}}
        <option value="{{identifier}}">{{originalTitle}} ({{productionYear}})</option>
    {{/each}}
</select>