<label for="bookingDescription_searchText">Film :</label>
<input type="text" id="bookingDescription_searchText" class="inline">

<button id="bookingDescription_search" class="inline">
    Rechercher
    <i id="bookingDescription_search_Spinner" class="fa fa-spinner fa-spin hidden"></i>
</button>

<div id="bookingDescription_searchResult"></div>
<button id="bookingDescription_AcceptFoundMovie" class="disabled">
    <i class="fa fa-arrow-circle-o-down"></i>
    Recopier infos
    <i id="bookingDescription_AcceptFoundMovie_Spinner" class="fa fa-spinner fa-spin hidden"></i>
</button>

<hr>

<label for="bookingDescription_title">Titre</label>
<input type="text" id="bookingDescription_title">

<label for="bookingDescription_originalTitle">Titre Original</label>
<input type="text" id="bookingDescription_originalTitle">

<label for="bookingDescription_resume">Résumé</label>
<textarea id="bookingDescription_resume"></textarea>

<label for="bookingDescription_synopsis">Synopsis</label>
<textarea id="bookingDescription_synopsis"></textarea>

<label for="bookingDescription_duration">Durée</label>
<input type="text" id="bookingDescription_duration"><span id="bookingDescription_minutes">minutes</span>

<label for="bookingDescription_director">Réalisateur</label>
<input type="text" id="bookingDescription_director">

<label for="bookingDescription_casting">Casting</label>
<textarea id="bookingDescription_casting"></textarea>

<label for="bookingDescription_distributor">Distributeur</label>
<input type="text" id="bookingDescription_distributor">

<label for="bookingDescription_releaseDate">Date</label>
<input type="text" id="bookingDescription_releaseDate">
