<label for="bookingForm_movieTitle">Titre du film :</label>
<input type="text" id="bookingForm_movieTitle">

<label for="bookingForm_from">À partir du :</label>
<input type="text" id="bookingForm_from">

<label for="bookingForm_to">Jusqu'au :</label>
<input type="text" id="bookingForm_to">

<label for="bookingForm_pct">% Distributeur :</label>
<input type="number" id="bookingForm_pct" step="any" min="0" max="100">

<ol class="buttonArrowList">
    <li class="buttonArrowListItem" data-descriptionlang="fr">
        <div class="buttonArrowListItemContent">
            <label>Description (FR):</label>

            <p id="descriptionTitle-fr">(pas de description)</p>
        </div>
        <i class="fa fa-2x fa-angle-right buttonArrowListItemIcon"></i>
    </li>
    <li class="buttonArrowListItem" data-descriptionlang="nl">
        <div class="buttonArrowListItemContent">
            <label>Description (NL):</label>

            <p id="descriptionTitle-nl">(pas de description)</p>
        </div>
        <i class="fa fa-2x fa-angle-right buttonArrowListItemIcon"></i>
    </li>
    <li class="buttonArrowListItem" data-descriptionlang="de">
        <div class="buttonArrowListItemContent">
            <label>Description (DE):</label>

            <p id="descriptionTitle-de">(pas de description)</p>
        </div>
        <i class="fa fa-2x fa-angle-right buttonArrowListItemIcon"></i>
    </li>
    <li class="buttonArrowListItem" data-descriptionlang="en">
        <div class="buttonArrowListItemContent">
            <label>Description (EN):</label>

            <p id="descriptionTitle-en">(pas de description)</p>
        </div>
        <i class="fa fa-2x fa-angle-right buttonArrowListItemIcon"></i>
    </li>
</ol>
