{{#ifCond this.length '>' 0}}
    <table class="gridList">
        <thead class="notSelectable">
        <tr>
            <td>Film</td>
            <td>Date début</td>
            <td>Date fin</td>
        </tr>
        </thead>
        <tbody class="notSelectable">
        {{#each this}}
            <tr data-item-id="{{id}}">
                <td>{{movieTitle}}</td>
                <td>{{formatDateToYYYYMMDD startDate}}</td>
                <td>{{formatDateToYYYYMMDD endDate}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="emptyGrid">Il n'y a pas encore de film !</p>
{{/ifCond}}

