{{#ifCond this.length '>' 0}}
    <table class="gridList">
        <thead class="notSelectable">
        <tr>
            <td>Nom</td>
            <td>Sièges</td>
        </tr>
        </thead>
        <tbody class="notSelectable">
        {{#each this}}
            <tr data-item-id="{{id}}">
                <td>{{name}}</td>
                <td>{{seatCount}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="emptyGrid">Aucun écran configuré pour votre cinéma.</p>
{{/ifCond}}



