<div class="home fullScreen noScroll">
    <header>
        <!-- pistol <img id="logo" src="img/cinevenlogo_whitebg_25x25.png" alt="cineven logo"> -->
        <div id="userHub">
        </div>
    </header>
    <ul id="mainMenu">
        <li data-command-name="theater">
            <i class="fa fa-home"></i>
            <!--pistol <label class="notSelectable">CINEMA</label>-->
            <label class="notSelectable">HOME</label>
        </li>
        <li data-command-name="booking">
            <i class="fa fa-film"></i>
            <label class="notSelectable">RESERVATIONS</label>
        </li>
        <li data-command-name="scheduling">
            <i class="fa fa-calendar"></i>
            <label class="notSelectable">SEANCES</label>
        </li>
        <li data-command-name="shows">
            <i class="fa fa-video-camera"></i>
            <label class="notSelectable">PROJECTIONS</label>
        </li>
        <li data-command-name="ticketing">
            <i class="fa fa-ticket"></i>
            <label class="notSelectable">TICKETS</label>
        </li>
        <li data-command-name="crm">
            <i class="fa fa-heart"></i>
            <label class="notSelectable">CLIENTS</label>
        </li>
        <li data-command-name="signage">
            <i class="fa fa-desktop"></i>
            <label class="notSelectable">AFFICHAGES</label>
        </li>

        <li data-command-name="configScreen">
            <i class="fa fa-cog"></i>
            <label class="notSelectable">PARAMÈTRES</label>
        </li>
    </ul>
    <p class="copyright notSelectable">&copy; 2015-pistol pete</p>
    <main id="mainPlaceHolder">

    </main>
    <footer></footer>
</div>


