<div class="dateNavigator">
    <button id="scheduling_previousDay" class="fa fa-arrow-circle-left"></button>
    <span id="scheduling_currentDate">{{formatMomentToFriendlyDate this.currentDate}}</span>
    <button id="scheduling_nextDay" class="fa fa-arrow-circle-right"></button>
</div>

<table id="scheduling_dayview" class="scheduleDayView">
    <thead class="notSelectable">
    <tr>
        {{#each this.screens}}
            <td>{{name}}</td>
        {{/each}}
    </tr>
    </thead>
    <tbody class="notSelectable">
    {{#each this.timeSlots}}
        <tr>
            {{#each schedules}}
                {{#ifCond this.length '>' 0}}
                    <td>
                        {{#each this}}
                            <div class="scheduleDayView-block" data-item-id="{{this.id}}">
                                <label>{{formatMomentToLT scheduleTime}}</label>
                                <p>{{movieTitle}}</p>
                            </div>
                        {{/each}}
                    </td>
                {{else}}
                    <td></td>
                {{/ifCond}}

            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

{{#ifCond this.isLoadingData '==' true}}
    <div class="emptyGrid">
        <i class="fa fa-spinner fa-spin "></i>
        <span>Chargement des données...</span>
    </div>
{{else}}
    {{#ifCond this.timeSlots.length '==' 0}}
        <p class="emptyGrid">Aucune séance planifiée pour ce jour !</p>
    {{/ifCond}}
{{/ifCond}}
