<div class="scheduleForm">
    <label for="scheduleForm_movie">Film:</label>
    <select id="scheduleForm_movie" name="movies">
        {{#each this.bookings}}
            <option value="{{id}}">{{movieTitle}}</option>{{/each}}
    </select>

    <label for="scheduleForm_screen">Écran:</label>
    <select id="scheduleForm_screen" name="screens">
        {{#each this.screens}}
            <option value="{{id}}">{{name}}</option>{{/each}}
    </select>

    <label for="scheduleForm_date">Date :</label>
    <input type="text" id="scheduleForm_date">

    <label for="scheduleForm_time">Time :</label>
    <input type="time" id="scheduleForm_time">


    <div class="scheduleForm_repetitionGroup">
        <input id="scheduleForm_repetitionCbx" type="checkbox" name="repetitionEnabled" value="true" class="inline"/>
        <label id="scheduleForm_repetitionLabel" for="scheduleForm_repetitionCbx" class="inline">Répéter</label>
    </div>
    <div class="scheduleForm_inRepeat hidden">
        <select id="scheduleForm_repetitionFreq" name="repetitionFreq">
            <option value="day">Tous les jours</option>
            <option value="week">Toutes les semaines</option>
        </select>

        <label for="scheduleForm_repetitionLimitDate">Jusqu'au :</label>
        <input type="text" id="scheduleForm_repetitionLimitDate">
        <span id="scheduleForm_schedulingCount"></span><span> séance(s)</span>
    </div>
</div>