<label for="screenForm_name">Nom:</label>
<input type="text" id="screenForm_name">

<label for="screenForm_seatcount">Nombre de sièges:</label>
<input type="number" id="screenForm_seatcount" step="any" min="0" max="1000">