<div class="entrance">
    <div class="entrance-header">
        <img id="signin-mainlogo" src="img/pistollogo_whitebg_big.png">
        <span>
            <h1>Pistol Pete&copy;</h1>
            <span>Heaven for pistols</span>
        </span>
    </div>
    <section id="loginSignIn" class="loginBox">
        <h1>Sign in!</h1>
        <label for="txtSignInLogin">Login:</label>
        <input type="text" id="txtSignInLogin" required>
        <label for="txtSignInPassword">Password:</label>
        <input type="password" id="txtSignInPassword">

        <button id="btnSignIn">Sign In!</button>
        <label id="lblSignInGoToSignUp" class="link">I don't have any account yet</label>
    </section>
</div>
