<div class="entrance">
    <div class="entrance-header">
        <img id="signin-mainlogo" src="img/cinevenlogo_whitebg_big.png">
        <span>
            <h1>cineven&copy;</h1>
            <span>Heaven for theater</span>
        </span>
    </div>
    <section id="loginSignUp" class="loginBox">
        <h1>Sign up and join cineven&copy;</h1>
        <label for="txtSignUpLogin">Login:</label>
        <input type="text" id="txtSignUpLogin" required>

        <label for="txtSignUpName">Name:</label>
        <input type="text" id="txtSignUpName">

        <label for="txtSignUpFirstName">First Name:</label>
        <input type="text" id="txtSignUpFirstName">

        <label for="txtSignUpEmail">Email:</label>
        <input type="email" id="txtSignUpEmail">

        <label for="txtSignUpPassword">Password:</label>
        <input type="password" id="txtSignUpPassword">

        <label for="txtSignUpConfirmPassword">Confirm password:</label>
        <input type="password" id="txtSignUpConfirmPassword">

        <button id="btnSignUp">Sign Up!</button>
        <label id="lblSignUpGoToSignIn" class="link">I already have an account!</label>
    </section>
</div>