<div class="squareBox">
    <h1>Your theater</h1>

    <div class="inlineBlock">
        <label for="txtTheaterName">Name:</label>
        <input type="text" id="txtTheaterName">
    </div>
    <div class="inlineBlock">
        <label for="txtTheaterWebSite">Website:</label>
        <input type="text" id="txtTheaterWebSite">
    </div>
    <label></label>
</div>




