<div id="ticketing_ticketList">
    {{#ifCond this.length '>' 0}}
        <table class="gridList">
            <thead class="notSelectable">
            <tr>
                <td>Nom</td>
                <td>Prix</td>
                <td>Condition</td>
                <td>TVA</td>
            </tr>
            </thead>
            <tbody class="notSelectable">
            {{#each this}}
                <tr data-item-id="{{id}}">
                    <td>{{name}}</td>
                    <td>{{price}}€</td>
                    <td>{{condition}}</td>
                    <td>{{vat}}%</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <p class="emptyGrid">Aucun ticket configuré pour votre cinéma.</p>
    {{/ifCond}}
</div>





