<label for="ticketForm_name">Nom:</label>
<input type="text" id="ticketForm_name">

<label for="ticketForm_price">Prix:</label>
<input type="number" id="ticketForm_price" step="any" min="0" max="1000">

<label for="ticketForm_vat">TVA:</label>
<input type="number" id="ticketForm_vat" step="any" min="0" max="100">

<label for="ticketForm_conditions">Conditions:</label>
<input type="text" id="ticketForm_conditions">
<ol class="buttonArrowList">
    <li class="buttonArrowListItem">
        <div class="buttonArrowListItemContent">
            <label>Traductions</label>
        </div>
        <i class="fa fa-2x fa-angle-right buttonArrowListItemIcon"></i>
    </li>
</ol>