<ol class="buttonMatList">
    <li class="buttonMat" data-command="configTicket">
        <i class="fa fa-ticket buttonMatIcon"></i>
        <label class="buttonMatText">Configuration des tickets</label>
    </li>
    <li class="buttonMat" data-command="configTax">
        <i class="fa fa-legal buttonMatIcon"></i>
        <label class="buttonMatText">Configuration des taxes</label>
    </li>
</ol>