
<label>FR</label>
<hr>
<div class="translsationsSet">
    <label for="tickettradForm_name_fr">Nom:</label>
    <input type="text" id="tickettradForm_name_fr">

    <label for="tickettradForm_condition_fr">Condition:</label>
    <input type="text" id="tickettradForm_condition_fr">
</div>

<label>DE</label>
<hr>
<div class="translsationsSet">
<label for="tickettradForm_name_de">Nom:</label>
<input type="text" id="tickettradForm_name_de">

<label for="tickettradForm_condition_de">Condition:</label>
<input type="text" id="tickettradForm_condition_de">
</div>

<label>EN</label>
<hr>
<div class="translsationsSet">
<label for="tickettradForm_name_en">Nom:</label>
<input type="text" id="tickettradForm_name_en">

<label for="tickettradForm_condition_en">Condition:</label>
<input type="text" id="tickettradForm_condition_en">
</div>


<label>NL</label>
<hr>
<div class="translsationsSet">
<label for="tickettradForm_name_nl">Nom:</label>
<input type="text" id="tickettradForm_name_nl">

<label for="tickettradForm_condition_nl">Condition:</label>
<input type="text" id="tickettradForm_condition_nl">
</div>