<div class="message">
        <strong>{{Title}}</strong>
        <span class="message-text">{{Message}}</span>
        <a href="#" role="button">
                <img class="icon-close" src="img/icon_close.png">
        </a>
</div>