<div id="menuHeader">
    <span class="notSelectable">{{UserName}}</span>
    <!--<img src="img/smallArrow.png" alt="click to open the menu">-->
</div>
<ul>
    <li id="userHubMenu_SignOut">
        <i class="fa fa-sign-out"></i>
        Déconnexion
    </li>
</ul>



